{% extends "base.html" %}
{% block body %}
<h2>Machine Learning</h2>
The exponential growth of all domains of life (finance, manufacturing, communication, military),
 the increased efficiency of production and expectations of lifestyles, have led us to aspire for the greater. 
No matter how high or great it might seem, we always strive for the bigger, the better and the best. 
However, we have each a point where all the above can be maximised to the greatest potential. Where ever we look 
in today's vast industries, we always hear the phase: "Just google it". It is evident that our heavy reliance on
 intelligent and automated technologies is assisting everyone in every domain. The concept of Machine learning, 
which was once a dream of the eccentrics, is now a reality. 
 
You have most likely heard of this term and the buzz behind its technical details, but I’m not going to bore 
you with it today. Instead, let me enlighten you with what is important about Machine Learning. This will orbit the
 3 main concepts which each company dears: productivity, logistics and security. Let’s say you run a supermarket
 and your role includes you to monitor the rate of sales and prices of the produce that you sell (productivity), keep 
track of the produce being delivered, customer service quality (Logistics) as well as risk of marketing decisions and 
plans, monitoring the compliance of employees and customers and eliminating fraudulent interactions. 

Now to help you with your responsibilities is a team of HUMANS, and let me re-iterate that again, HUMAN assistants and 
employees to help you with the data analysis, monitoring, marketing, quality assurance and risk analysis. Now as great 
as us humans are, we are prone and 100% bound to make mistakes. In addition to inefficiency, cost of training, learning 
certain protocols, these factors are what can make a business dissolve and never to be heard about again. What machine 
learning does is place a machine, whether a robot or simply a small computer, in the place of humans and BECOME like us 
in the sense of decision making, learning from past applications and endeavour to become better at what it does. 

This new piece of technology opens the door to precision, quality and efficiency that will put your company on the world-class
 level. The monitoring processes can now be automated with software that will not only allow for higher efficiency, but 
allow predict what the optimal approach would be for plans and draw out prediction models that will lead your company into
 the direction you want. All of this, while considering previous sales and trading you have conducted. The complex and
 tedious management of Logistics will indeed become a thing of the past with advanced digital assistants to manage recruitment
 processes basing decisions on past successful applications and complex data that will remain a burden for humans in choosing 
who or WHAT may be a perfect fit for a role. Not to forget the large potential to increase security in terms of reducing fraud
 by learning suspicious patterns that may seem hidden to the human intelligence and not allowing the infamous “gut feeling” 
of unnecessary risk in adventuring in plans.

Now you may be asking yourself this question: “Don’t current computer programs suffice your companies and machine 
learning is pretty much redundant?”. Do not be deceived. Machine learning technologies rely on learning from past 
applications of the program, complex data that tell an account of past iterations of certain operations and learns. 
Current software is made to do a certain number of processes without “thinking outside of the box” and try to 
improve and learn. This is what makes machine learning so valuable in competition giving the customer another level of 
insight and leverage to invest resources in other tasks that demand human interaction. 

The previous example is complex in nature and shows how many tedious, tiresome and risky operations can be simplified and
 turned in prosperous steps for any company in other industries. I understand the conservative nature of companies to stay
 with the comfortable norm and not adventure into new technologies, however, machine learning is what will the separating 
barrier between mediocre and exponential growth. It is already being developed and applied today in many different domains
 and my favourite product of machine learning must be voice-enabled assistants. Whether it is a humble digital face on a 
computer screen or a walking and talking robot, the ability for such technological marvels to give you an analysis of complex
 data, show me results and the “gist” without the technical non-sense in a human-friendly manner and respond to my voice
 with intelligent responses just makes my life that much easier. 

{% endblock %}
