{% extends "base2.html" %}
{% block body %}
<center>
    <h2>EDUCATION:</h2>
</center>
<ul>
    <li>February 2016-Current: University of New South Wales Sydney, Australia<br>
    Bachelor of Software Engineering/Master of Biomedical Engineering</li>
    Undergraduate degree at UNSW studying a double degree of Engineering (Biomedical, Software)
    <h3>Courses at UNSW</h3>
    First Year:
    <ul>
        <li>Higher Mathematics MATH1141</li>
        <li>Discrete Mathematics MATH1081</li>
        <li>Design and innovation in Engineering ENGG1000</li>
        <li>Computing 1A COMP1917</li>
        <li>Mathematics MATH1231</li>
        <li>Computing 2A COMP1927</li>
        <li>Engineering in Medicine and Biology BIOM1010</li>
        <li>Software Workshop SENG1031</li>
    </ul>
      Second Year:
    <ul>
        <li>Engineering Design in Computing COMP2911</li>
        <li>Software Workshop 2A SENG2011</li>
        <li>System Design and Modelling COMP2111</li>
        <li>Mircoeconomics 1 ECON1101</li>
        <li>Software Construction COMP2041</li>
        <li>Foundations of Concurrency COMP3151</li>
        <li>Probability and Statistics MATH2859</li>
        <li>Software Workshop 2B SENG2021</li>
        <li>Finite Mathematics MATH2400</li>
    </ul>
    <li>January 2014-December 2015	Al-Sadiq College - HSC Education
    <ul>
      <li>HSC ATAR of 94.5</li>
      <li>Subjects completed:</li>
      <li>Standard English: Band 5</li>
      <li>Extension Mathematics 1: Band 6</li>
      <li>Extension Mathematics 2: Band 6</li>
      <li>Arabic Continuers: Band 6</li>
      <li>Extension Arabic: Band 5</li>
      <li>Chemistry: Band 6</li>
    </ul>
</ul>
{% endblock %}
