{% extends "base.html" %}
{% block body %}
<center>
    <h2>EXPERIENCE:</h2>
</center>
<ul>
    <li>Feburary 2018 - current: Software Engineer Intern at PicNet Services Pty</li>
    <li>May 2017-Feburary 2018:  Arabic/HSC mathematics tutor at Macarthur Community College - Sydney, Australia</li>
    <li>February 2017-May 2017: Arabic 2A and B tutor at Parramatta Community College - Sydney, Australia</li>
    <li>December 2015-Current:	HSC Mathematics (General, Advanced, Extension 1) and Arabic (all levels) tutor - Sydney, Australia</li>
    <li>January 2013-January 2015:	Almouiee Trading Company - Tartous, Syria</li>
    Employee at ATC as electronics assistant dealing with customer service, stocking and delivering goods to consumers and customers.
</ul>
{% endblock %}
