{% extends "base.html" %}
{% block body %}
<h2>HIGHLIGHTS:</h2>
<ul>
<li>#5 Most Popular Arabic/Maths Tutor in Macarthur & Camden on <a href="https://www.tutors4you.com.au/directory/mr-daniel-almouiee-8106.html#most-popular-box">Tutors4you</a></li>
<li>98.8 Syrian High School Certificate mark.</li>
<li>94.5 ATAR.</li>
<li>1st in Extension 2 Mathematics 2015.</li>
<li>1st in Standard English 2015.</li>
<li>Award of Academic Excellence in Arabic Continuers 2015.</li>
<li>First Aid certificate 2015.</li>
<li>Barista qualification certificate 2015.</li>
<li>Food hygiene certificate 2015.</li>
</ul>
{% endblock %}
