{% extends "base.html" %}
{% block body %}
<h2>SKILLS:</h2>
<ul>
<li>Studied Classical and Modern Standard Arabic in Syria.</li>
<li>C, Java, Python/Flask and Shell/Perl experienced programmer and experienced in Object Oriented Programming.</li>
<li>Verification of Programs using verification tools (Dafny).</li>
<li>Experience as group/team leader in Software development projects.</li>
<li>Maple and Matlab intermediate programmer.</li>
<li>Complex Analysis of program algorithms.</li>
<li>Expert in Microsoft editing programs (Word, PowerPoint, Excel).</li>
</ul>
{% endblock %}
